* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 6, 39);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}

header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
header ul li {
    padding: 5px 5px;
    cursor: pointer;
}
header ul li:hover {
    background-color: lightblue;
}
main > img {
    width: 100%;
}
.productContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
main .singleProduct, main .singleNews {
    border: 3px solid white;
    width: calc(100% / 3);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.singleNews {
    background-color: lightgray;
    text-align: center;
}
.singleNews .button {
    border: 3px solid white;
    padding: 10px 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.singleNews .button:hover {
    background-color: white;
    color: black;
}


.relative {
    position: relative;
}
.singleProduct .layover:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    transition: 1s;
    cursor: pointer;
}
.singleProduct .layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.1);
    color:  white;
    text-align: center;
    padding-top: 95%;
}
.singleProduct img{
    width: 220%;
}



footer {
    height: 10vh;
}
footer img {
    width: 100%;
}