* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 6, 39);
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.active {
    background-color: lightblue;
    padding: 5px 5px;
}
header {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
main > img {
    width: 100%;
}
.productContainer, .newsContainer {
    display: flex;
    flex-wrap: wrap;
}
main > h1 {
    text-transform: capitalize;
    font-size: 2em;
    padding: 50px 50px;
}
main .singleProduct, main .singleNews {
    border: 3px solid white;
    width: calc(100% / 3);
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.relative {
    position: relative;
}
.singleProduct .layover:hover {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.singleProduct .layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 95%;
    transition: 2s;
}
.singleProduct img{
    width: 220%;
}
.singleNews {
    background-color: rgba(58, 62, 65, 0.8);
    text-align: center;
}
.singleNews p, .singleNews .button, .singleProduct .layover {
    color: white;
}
.singleNews .button {
    border: 3px solid white;
    padding: 10px 10px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 999;
}
.singleNews:hover {
    background-color: rgba(58, 62, 65, 0.7);
    transition: 1s ease-in-out;
    cursor: pointer;
}
.singleNews .button:hover {
    background-color: white;
    color: black;
}

footer {
    height: 10vh;
    margin-top: 10vh;
}
footer img {
    width: 100%;
}